@media only screen and (max-width: 1280px){
    .container{
        width: 100% !important;
        padding: 0 20px;
    }
    #home .owl-dots {
        width: calc(100% - 40px) !important;
        margin: auto !important;
    }
    #home .owl-nav {
        width: calc(100% - 40px) !important;
        margin: auto !important;
    }
    .nav-border {
        width: calc(100% - 40px) !important;
        margin: auto !important;
    }
    .certificate-card:hover .certificate-buttons .certificate-btn a {
        right: 65px !important;
    }
    .certificate-card {
        max-width: 100%!important;
    }
    .contact-input {
        max-width: 610px !important;
    }
    .contact-map iframe {
        max-height: 290px !important;
    }
    .comment-slider .owl-stage-outer{
        max-height: 400px;
    }
    #team {
        padding-bottom: 0;
    }
    .comment-slider .active.center {
        max-width: calc(100vw - 40px) !important;
        width: 100% !important;
        display: flex;
        justify-content: center;
    }
    .comment-bg {
        display: none;
    }
    .comment-card .transparent {
        background: #ffffff !important;
    }
    #projects-home img {
        height: 75vh !important;
    }
    .gallery-column {
        height: 728px !important;
    }
    .gallery-column:first-child{
        max-width: 300px !important;
    }
    .gallery-column:nth-child(2){
        max-width: 300px !important;
    }
    .gallery-column:last-child{
        max-width: 400px !important;
    }
    .gallery-cards .gallery-column:last-child a:nth-child(2) {
        max-width: 195px !important;
        max-height: 295px;
    }
    .gallery-cards .gallery-column:last-child a:nth-child(3) {
        max-width: 195px !important;
        max-height: 295px;
    }
    .gallery-cards .gallery-column:last-child a:nth-child(4) {
        max-width: 135px !important;
        max-height: 295px;
    }
    .gallery-cards .gallery-column:last-child a:nth-child(5) {
        max-width: 255px !important;
        max-height: 295px;
    }
}
@media only screen and (max-width: 1100px){
    #about1 .img-1.active img {
        max-width: 420px !important;
    }
    footer .col-lg-2 {
        width: 50%;
    }
    footer .col-lg-4 {
        width: 50%;
    }
    #about2{
        height: 550px;
    }
    #about2 .container{
        height: 100%;
    }
    #about2 .row {
        height: 100%;
    }
    #about2 .col-lg-6{
        margin-left: -20px;
    }
    .single-head {
        font-size: 32px !important;
        line-height: 36px !important;
    }
    .teaching-slider .swiper-slide .teaching-card .teach-head-text{
        font-size: 20px;
        line-height: 22px;
        margin-right: 196px;
        width: 95px;
    }
    .teaching-slider .swiper-slide .teaching-card .color-effect{
        left: 275px !important;
        /* right: 10px !important; */
        bottom: 25px;
        width: 117px !important;
        height: 34px !important;
        border-radius: 5px !important;
    }
    .teaching-slider .swiper-slide .teaching-card .teach-text{
        bottom: 20px !important;
    }
    .gallery-column:first-child{
        max-width: 49% !important;
    }
    .gallery-column:nth-child(2){
        max-width: 49% !important;
    }
    .gallery-column:last-child{
        max-width: 100% !important;
    }
    .gallery-column a{
        width: 100% !important;
        max-width: 100% !important;
    }
    .gallery-cards .gallery-column:last-child a:nth-child(2) {
        max-width: 49% !important;
        max-height: 295px;
    }
    .gallery-cards .gallery-column:last-child a:nth-child(3) {
        max-width: 49% !important;
        max-height: 295px;
    }
    .gallery-cards .gallery-column:last-child a:nth-child(4) {
        max-width: 49% !important;
        max-height: 295px;
    }
    .gallery-cards .gallery-column:last-child a:nth-child(5) {
        max-width: 49% !important;
        max-height: 295px;
    }
}
@media only screen and (max-width: 992px){
    header,
    footer{
        display: none !important;
    }
    .hr-card {
        width: 100% !important;
    }
    .box{
        width: 100% !important;
    }
    .home-bottom img{
        max-width: 140px !important;
        height: 45px !important;
        object-fit: contain;
    }
    .home-head {
        font-size: 33px !important;
        line-height: 42px !important;
        max-width: 380px !important;
    }
    .home-btn {
        margin-top: 10px !important;
    }
    .home-bottom-text {
        font-size: 17px !important;
        line-height: 23px !important;
    }
    #about .col-lg-4,
    #about1 .col-lg-5{
        width: 100% !important;
        margin-bottom: 20px !important;
    }
    #about .col-lg-7,
    #about1 .col-lg-6{
        width: 100% !important;
    }
    .about-btn a {
        margin-top: 10px !important;
    }
    #about1 .col-lg-6 {
        width: 100% !important;
        height: 510px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #about1 .img-1.active img {
        max-width: 100% !important;
    }
    .img-2.active img {
        max-width: 100% !important;
        width: 100% !important;
        padding-left: 106px !important;
        border-radius: 10px;
        object-fit: contain;
        height: 310px;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    .img-1.active img {
        max-width: 100% !important;
        width: 100% !important;
        padding-right: 106px !important;
        border-radius: 10px;
        object-fit: contain;
        height: 310px;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    .count-area-content {
        flex-direction: column;
    }
    .count-number{
        justify-content: center;
    }
    .count-img{
        margin-left: 20px;
    }
    .team-slider .item{
        display: flex;
        justify-content: center;
    }
    .comment-slider .owl-nav {
        display: flex !important;
        width: 100% !important;
        left: 0 !important;
        justify-content: space-between;
        position: absolute;
    }
    #about2 .col-lg-6{
        width: 100%;
    }
    #about2 .col-lg-5{
        width: 100%;
    }
    #about2 img {
        max-height: 300px;
        margin-bottom: 30px;
        width:100vw !important;
    }
    #about2 {
        max-height: 900px;
        height: 100%;
    }
    .projects-all .col-lg-6{
        width: 100% !important;
    }
    .projects-all .col-lg-5{
        width: 100% !important;
    }
    .projects-component {
        flex-wrap: wrap;
    }
    .projects-head {
        max-width: 100% !important;
    }
    .projects-body {
        margin-bottom: 15px !important;
    }
    .projects-head {
        margin-top: 10px;
    }
    .projects-all:nth-child(2n+1) .col-lg-5{
        order: 1;
    }
    .projects-all {
        padding: 40px 0 !important;
    }
    .membership-table th:first-child, .membership-table td:first-child {
        min-width: 300px !important;
    }
    .membership-table th, .membership-table td {
        min-width: 200px !important;
    }
    .membership-table{
        flex-wrap: nowrap;
        -webkit-box-pack: start;
        justify-content: flex-start;
        overflow: scroll;
        width: 100%;
        -ms-flex-pack: start;
    }
}
@media only screen and (max-width: 768px){
    .comment-icon {
        margin-top: -25px !important;
    }
    .comment-text {
        margin-bottom: 50px !important;
        font-size: 15px !important;
        line-height: 22px !important;
    }
    .comment-head {
        font-size: 15px !important;
    }
    .comment-work {
        font-size: 14px !important;
        line-height: 16px !important;
    }
    .comment-slider .owl-nav {
        width: 105% !important;
        left: -12px !important;
    }
    .about-head {
        font-size: 27px !important;
        line-height: 20px !important;
        margin-bottom: 10px !important;
    }
    .about-hr {
        margin: 0 !important;
    }
    .about-body {
        font-size: 14px !important;
        line-height: 21px !important;
    }
    #about1 .about-head {
        margin-bottom: 6px;
    }
    #about1 .about-body:nth-child(5){
        margin-top: -15px;
    }
    .next-projects .col-lg-5{
        width: 100% !important;
    }
    .table {
        padding: 10px !important;
        margin-top: -310px !important;
    }
    .gallery-cards .gallery-column a {
        max-width: 100% !important;
        max-height: 200px !important;
    }
    .gallery-column:first-child,
    .gallery-column:nth-child(2) {
        max-width: 100% !important;
        max-height: 420px;
    }
    .gallery-column:last-child{
        max-width: 100% !important;
        max-height: 1050px !important;
    }
    #certificate {
        margin-top: 80px;
    }
    #certificate .owl-item .item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact {
        flex-wrap: wrap;
    }
    .contact-phone {
        flex-wrap: wrap;
    }
    .contact-mail {
        flex-wrap: wrap;
    }
    .social {
        margin-top: 35px;
    }
    .contact {
        margin-top: 15px !important;
    }
    #contact .col-lg-5 {
        order: 1;
    }
}
@media only screen and (max-width: 576px){
    #contact .col-lg-6{
        width: 100% !important;
        margin-bottom: 20px;
    }
    #contact .col-lg-5{
        width: 100% !important;
    }
    .count-area .col-lg-3{
        width: 50%;
    }
    .count-area .col-lg-3:first-child{
        margin-bottom: 20px;
    }
    .img-2.active img {
        object-fit: cover;
        height: 100% !important;
        padding: 0 !important;
    }
    .img-1.active img {
        object-fit: cover;
        height: 100% !important;
        padding: 0 !important;
    }
    .img-2 img {
        width: 130px !important;
        height: 90px !important;
        bottom: 0 !important;
    }
    .img-1 img {
        width: 130px !important;
        height: 90px !important;
        bottom: 0 !important;
    }
    .hover_zoom.swiper-slide.swiper-slide-active .teaching-card {
        max-width: 400px !important;
        width: 100% !important;
    }
    .swiper-slide.swiper-slide-active .teaching-card,.hover_zoom.swiper-slide .teaching-card{
        width: 100% !important;
        height: 434px;
    }
    .teaching-slider .swiper-slide.swiper-slide-active,.teaching-slider .hover_zoom.swiper-slide{
        max-width: 100%;
    } 
    .teaching-slider .swiper-slide .teaching-card .teach-head-text, .teaching-slider .teaching-card .teach-head-text {
        margin-right: 80px !important;
    }
    #teching .teaching-slider .swiper-slide .teaching-card .color-effect,#teching .teaching-slider .teaching-card .color-effect {
        left: 160px !important;
        /* right: 10px !important; */
        bottom: 25px;
        width: 117px !important;
        height: 34px !important;
        border-radius: 5px !important;
    }
    .owl-nav:not(#home .owl-nav){
        display: none;
    }
    section {
        padding: 15px 0 !important;
    }
    #home  .owl-dots span {
        bottom: 20px !important;
    }
    #home .owl-nav {
        bottom: 30px !important;
    }
    .home-bottom {
        margin-bottom: -35px;
    }
    .swiper-button-next,
    .swiper-button-prev{
        display: none !important;
    }
    .contact-btn a {
        width: 100% !important;
    }
    #about{
        padding-top: 60px !important; 
    }
    .contact-map iframe {
        max-height: 100% !important;
    }
    .head-text {
        font-size: 27px !important;
        line-height: 27px !important;
        margin-bottom: 30px !important;
    }
    #home {
        height: calc(100vh - 80px);
        padding-top: 0 !important;
    }
    .comment-slider .active .item {
        height: 100% !important;
        width: 100%;
    }
    .comment-card img:not(.comment-icon img) {
        max-width: 110px !important;
    }
    .comment-icon {
        display: none;
    }
    .comment-text {
        margin-top: -25px !important;
    }
    .last-projects-cards {
        justify-content: center !important;
    }
    .select-date a {
        font-size: 14px !important;
        line-height: 22px !important;
    }
    #about-home {
        padding-top: 0 !important;
    }
    .pages-head-text {
        font-size: 30px !important;
        line-height: 35px !important;
        top: 30% !important;
    }
    #projects {
        padding-bottom: 0 !important;
    }
    .last-text .last-head-text {
        font-size: 15px !important;
        line-height: 18px !important;
    }
    .last-text .last-body-text {
        font-size: 13px !important;
        line-height: 18px !important;
    }
    .last-date .year {
        font-size: 15px !important;
        line-height: 17px !important;
    }
    .last-date .hour {
        font-size: 13px !important;
        line-height: 13px !important;
    }
    #projects .breadcrumb {
        display: flex;
        position: absolute;
        top: -40px;
    }
    .projects-head {
        font-size: 22px !important;
        line-height: 24px !important;
    }
    .projects-head {
        margin-top: 13px !important;
        margin-bottom: 5px !important;
    }
    .projects-body {
        font-size: 15px !important;
        line-height: 20px !important;
    }
    .btn a {
        width: 120px !important;
        height: 36px !important;
    }
    .btn a:hover::before{
        height: 34px !important;
    }
    #about1 .breadcrumb {
        top: -40px !important;
    }
    #about1 .col-lg-6 {
        height: 310px !important;
    }
    #about2 {
        margin: 0 !important;
        margin-top: 20px !important;
    }
    #projects-home {
        padding-top: 0 !important;
        padding-bottom: 20px !important;
    }
    .table {
        padding: 10px !important;
        margin-top: 0 !important;
        flex-wrap: nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        overflow: scroll;
    }
    tr td, tr th {
        min-width: 200px !important;
    }
    .next-projects:nth-child(4) {
        margin-top: 20px !important;
    }
    .next-projects .img-bg {
        top: -35px !important;
    }
    .next-projects .col-lg-5 {
        margin-top: 15px !important;
    }
    .next-projects .projects-head {
        margin-top: 0 !important;
    }
    .next-projects:nth-child(3) .col-lg-5:first-child{
        margin-top: 0 !important;
    }
    tr td:first-child, tr th:first-child {
        vertical-align: middle;
    }
    .next-projects .breadcrumb {
        display: flex;
        position: absolute;
        top: -25px;
    }
    #projects-home img {
        height: 50vh !important;
    }
    .gallery-cards .gallery-column:last-child a:nth-child(2) {
        max-width: 100% !important;
        max-height: 200px;
    }
    .gallery-cards .gallery-column:last-child a:nth-child(3) {
        max-width: 100% !important;
        max-height: 200px;
    }
    .gallery-cards .gallery-column:last-child a:nth-child(4) {
        max-width: 100% !important;
        max-height: 200px;
    }
    .gallery-cards .gallery-column:last-child a:nth-child(5) {
        max-width: 100% !important;
        max-height: 200px;
    }
    .gallery-column {
        height: 100% !important;
    }
    .contact {
        flex-wrap: wrap;
    }
    .contact-phone {
        flex-wrap: wrap;
    }
    .contact-mail {
        flex-wrap: wrap;
    }
    .social {
        margin-top: 35px;
    }
    .breadcrumb {
        top: -20px !important;
    }
    .contact-head {
        font-size: 25px !important;
        line-height: 28px !important;
    }
    .contact-btn a {
        width: 100% !important;
    }
    .hr-single .contact .col-lg-6 {
        margin-top: 20px !important;
    }
    .breadcrumb {
        flex-wrap: nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        overflow: scroll;
        width: 88%;
    }
    .breadcrumb-item {
        white-space: nowrap;
    }
    #contact.hr-single .col-lg-6 {
        order: 1;
    }
    .hr-single .single-head {
        font-size: 24px !important;
        line-height: 28px !important;
        margin-bottom: 10px !important;
    }
    .single-body {
        font-size: 14px !important;
        line-height: 19px !important;
    }
    .hr-single .col-lg-6 .contact-btn {
        margin: 0 !important;
    }
    #membership .membership-table tr th {
        font-size: 18px !important;
        line-height: 22px !important;
        vertical-align: middle;
    }
    .membership-table td:first-child {
        font-size: 14px !important;
        line-height: 18px !important;
    }
    #membership {
        margin-top: 20px;
    }
    #membership .breadcrumb {
        top: -40px !important;
    }
    .cooperation .col-lg-6{
        flex-direction: column;
    }
    #about1.cooperation .breadcrumb {
        top: -40px !important;
    }
    #about2.cooperation img {
        width: 100% !important;
    }  
    #about1.cooperation,
    #about2.cooperation:nth-child(4){
        padding: 20px 0 !important;
    } 
    /* #about1.cooperation .col-lg-5,
    #about2.cooperation:nth-child(4) .col-lg-5{
        margin: 0 !important;
    }  */
    #about1.cooperation .col-lg-6{
        order: 1;
    }
    #about2.cooperation .col-lg-6 {
        margin-left: 0 !important;
    }
    #about1.cooperation .col-lg-6 {
        height: 100% !important;
    }
    #about1.cooperation {
        padding-top: 40px !important;
    }
    .cooperation .about-head {
        font-size: 22px !important;
        line-height: 24px !important;
        margin-bottom: 10px !important;
    }
    .partners-slider a img {
        filter: grayscale(0) !important;
    }
}
@media only screen and (min-width: 370px) and (max-width: 576px){
    .comment-card img:not(.comment-icon img) {
        max-width: 144px !important;
    }
}